/* Special Card */
.specialCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #235ea0;
    max-width: 400px;
    margin: 0.5em;
}

.specialCard:hover {
    background-color: #f7cb48;
}

.specialCard:hover h1 {
    color: #235ea0;
}

.specialCard h1 {
    color: #f7cb48;
    margin: 0 1em;
    font-weight: bolder;
    font-variant-numeric: proportional-nums;
}

.specialCard p {
    color: white;
    margin: 0.8em;
}
/* Special Card - End */
