.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header nav .headerNavLink {
  margin: 0 2em;
  color: black;
  text-decoration: none;
  padding: 0.5em 1.5em;
}

.header nav .headerNavLink:hover {
  background-color: black;
  color: white;
}
