.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #235ea0;
    z-index: 10;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header nav .headerNavLink {
    margin: 0 1em;
    color: black;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.header nav .headerNavLink:hover {
    background-color: black;
    color: white;
}
