.topMain {
  height: 100vh;
  background-image: url("/fun_training.jpg"); /* url("/tic-2021.jpg"); */
  background-position: top 30%, right 0;
}

.heroText {
  position: relative;
  top: 20%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroText h1 {
  color: white;
  font-size: 3em;
  max-width: 50%;
  word-wrap: break-word;
  font-weight: bolder;
}
